<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Hello, World!</title>
    <link href="/static/img/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700">
</head>

<body class="main-content" draggable="false" onmousedown="return false">
    <header class="container header active" id="home">
        <div class="header-content">
            <div class="left-header">
                <div class="h-shape"></div>
                <div class="image">
                    <img src="/static/img/profile.jpg">
                </div>
            </div>
            <div class="right-header">
                <h1 class="name">
                    Hi, I’m <span>Joumaico</span>.<br>
                    A Software Engineer.
                </h1>
                <p>
                    I’m a software engineer who loves using Python to create applications tailored to what my clients
                    want. I also enjoy tinkering with Linux systems because that's where I work.
                </p>
                <div class="btn-con">
                    <a href="https://github.com/joumaico" class="main-btn" target="_blank">
                        <span class="btn-text">Activities</span>
                        <span class="btn-icon"><i class="fab fa-github"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </header>
</body>

</html>